/* SCROLL BEHAVIOR */
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  user-select: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #222222, #0f0f0f);
  color: #f2f2f2;
}

/* LINKS */
a {
  text-decoration: none;
  color: #bbbbbb;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 500px;
  position: fixed;
  top: 20px;
  z-index: 1;
  background-color: #72727233;
  border: 1px solid #a9a9a933;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 40px;
}

nav a {
  font-size: 17px;
  font-weight: 600;
  transition: .3s ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #f2f2f2;
}

/* MAIN INFO */
.main-info {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 96px 0;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: monospace;
}

.text-div span {
  font-size: 64px;
  line-height: 1.4;
}

.text-div p {
  font-size: 18px;
  line-height: 1.8;
  color: #bbbbbb;
}

.picture-div img {
  height: 400px;
  width: 400px;
}

/* MAIN */
main {
  max-width: 1200px;
  padding: 0 25px 25px;
}

main p {
  font-size: 16px;
  line-height: 1.6;
  color: #bbbbbb;
}

main a {
  color: darkorchid;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
}

/*SKILLS */
.skills {
  text-align: center;
  gap: 10px;
}

.skills span {
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(225, 225, 225, 0.06);
  border: 1px solid rgba(225, 225, 225, 0.1);
  border-radius: 5px;
}

.skills-heading,
.projects-heading {
  margin-top: 120px;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.projects-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.02);
  border: 1px solid rgba(225, 225, 225, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 200px;
  width: 300px;
  padding: 20px;
  position: relative;
  transition: .3s ease-in-out;
}

.projects-div::before {
  background: radial-gradient(
    800px circle at 100px 100px,
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  border-radius: inherit;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 1.875em;
  color: #f2f2f2;
  font-family: monospace;
  border-top: .0625em solid #f2f2f2;
}

.footer-links img {
  width: 2.5em;
  height: 2.5em;
  margin: 0 .625em;
  padding: .3125em 0;
}

/* COMPUTER RESPONSIVE */
@media (max-width: 85.6em) {
  .text-div span {
    font-size: 4em;
  }
  .text-div p {
    font-size: 1.2em;
  }
  .picture-div img {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 72.5em) {
  .text-div span {
    font-size: 3.5em;
  }
  .text-div p {
    font-size: 1.1em;
  }
  .picture-div img {
    width: 330px;
    height: 330px;
  }
  main {
    font-size: .875em;
  }
}

@media (max-width: 63.2em) {
  .main-info {
    text-align: center;
    margin-top: 8em;
  }
  .text-div span {
    font-size: 4em;
  }
  .text-div p {
    font-size: 1.2em;
  }
  .picture-div {
    display: none;
  }
}

@media (max-width: 37.5em) {
  header {
    width: fit-content;
    padding: 0 2em;
  }
  .text-div span {
    font-size: 3em;
  }
  .text-div p {
    font-size: 1.1em;
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 30em) {
  header {
    width: fit-content;
    padding: 0 20px;
  }
  nav ul {
    gap: 2em;
  }
  nav a {
    font-size: 1em;
  }
  .main-info {
    margin-top: 8em;
  }
  .text-div {
    text-align: center;
  }
  .text-div span {
    font-size: 2.5em;
  }
  .text-div p {
    font-size: .8em;
  }
  .picture-div {
    display: none;
  }
  .skills {
    gap: .625em;
  }
  .projects-div {
    height: 12em;
    width: 22em;
  }
}

@media (max-width: 26.25em) {
  header {
    width: fit-content;
    padding: 0 1.3em;
  }
  nav ul {
    gap: 1.7em;
  }
  nav a {
    font-size: .95em;
  }
  .text-div span {
    font-size: 2.3em;
  }
  main p {
    font-size: .95em;
  }
  .skills {
    gap: .625em;
  }
  .projects-div {
    height: 11em;
    width: 20em;
  }
}
