/* SCROLL BEHAVIOR */
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  user-select: none;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  background: linear-gradient(to bottom, #222222, #0f0f0f);
}

/* LINKS */
a {
  text-decoration: none;
  color: #bbbbbb;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125em;
  width: 31.25em;
  position: fixed;
  top: 1.25em;
  z-index: 1;
  border: 0.0625em solid #a9a9a933;
  border-radius: 3.125em;
  background-color: #72727233;
  -webkit-backdrop-filter: blur(0.625em);
  backdrop-filter: blur(0.625em);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5em;
}

nav a {
  font-size: 1.06em;
  font-weight: 600;
  transition: .3s ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #f2f2f2;
}

/* MAIN INFO */
.main-info {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 6em 0;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: monospace;
}

.text-div span {
  font-size: 5em;
  line-height: 1.4;
}

.text-div p {
  font-size: 1.4em;
  line-height: 1.8;
  color: #bbbbbb;
}

.picture-div img {
  width: 410px;
  height: 410px;
}

/* MAIN */
main {
  max-width: 81.25em;
  padding: 0 1.5625em 1.5625em;
}

main p {
  font-size: 15px;
  color: #bbbbbb;
}

main a {
  color: darkorchid;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
}

/*SKILLS */
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25em;
}

.skills p {
  margin: 0;
  padding: .625em 1.25em;
  border: .0625em solid #a9a9a933;
  border-radius: .3125em;
  background-color: #72727233;
}

.skills-heading,
.projects-heading {
  margin-top: 4.375em;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25em;
  margin-top: 3.125em;
}

.projects-div {
  padding: 1.25em;
  height: 12.5em;
  width: 25em;
  border: .0625em solid rgba(132, 132, 132, 0.5);
  border-radius: 1.5625em;
  background-color: rgba(61, 61, 61, 0.5);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.projects-div:hover {
  transform: scale(1.01);
  border-color: rgba(255, 255, 255, 0.5);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.125em;
  padding-top: 1.875em;
  color: #f2f2f2;
  font-family: monospace;
  border-top: .0625em solid #f2f2f2;
}

.footer-links img {
  width: 2.5em;
  height: 2.5em;
  margin: 0 .625em;
  padding: .3125em 0;
}

/* COMPUTER RESPONSIVE */
@media (max-width: 85.6em) {
  .text-div span {
    font-size: 4em;
  }
  .text-div p {
    font-size: 1.2em;
  }
  .picture-div img {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 72.5em) {
  .text-div span {
    font-size: 3.5em;
  }
  .text-div p {
    font-size: 1.1em;
  }
  .picture-div img {
    width: 330px;
    height: 330px;
  }
  main {
    font-size: .875em;
  }
}

@media (max-width: 63.2em) {
  .main-info {
    text-align: center;
    margin-top: 8em;
  }
  .text-div span {
    font-size: 4em;
  }
  .text-div p {
    font-size: 1.2em;
  }
  .picture-div {
    display: none;
  }
}

@media (max-width: 37.5em) {
  header {
    width: fit-content;
    padding: 0 2em;
  }
  .text-div span {
    font-size: 3em;
  }
  .text-div p {
    font-size: 1.1em;
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 30em) {
  header {
    width: fit-content;
    padding: 0 1.25em;
  }
  nav ul {
    gap: 2em;
  }
  nav a {
    font-size: 1em;
  }
  .main-info {
    margin-top: 8em;
  }
  .text-div {
    text-align: center;
  }
  .text-div span {
    font-size: 2.5em;
  }
  .text-div p {
    font-size: .8em;
  }
  .picture-div {
    display: none;
  }
  .skills {
    gap: .625em;
  }
  .projects-div {
    height: 12em;
    width: 22em;
  }
}

@media (max-width: 26.25em) {
  header {
    width: fit-content;
    padding: 0 1.3em;
  }
  nav ul {
    gap: 1.7em;
  }
  nav a {
    font-size: .95em;
  }
  .text-div span {
    font-size: 2.3em;
  }
  main p {
    font-size: .95em;
  }
  .skills {
    gap: .625em;
  }
  .projects-div {
    height: 11em;
    width: 20em;
  }
}
