/* SCROLL BEHAVIOR */
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  background: linear-gradient(to bottom, #222222, #0f0f0f);
}

/* LINKS */
a {
  text-decoration: none;
  color: #f2f2f2;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25em 0;
  height: 3.125em;
  width: 31.25em;
  position: fixed;
  top: 0;
  z-index: 5;
  border: 0.0625em solid #a9a9a933;
  border-radius: 3.125em;
  background-color: #72727233;
  -webkit-backdrop-filter: blur(0.625em);
  backdrop-filter: blur(0.625em);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5em;
}

nav a {
  font-size: 1.06em;
  font-weight: 600;
  color: #bbbbbb;
  transition: 0.3s ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #f2f2f2;
}

/* MAIN */
main {
  max-width: 81.25em;
  padding: 0 1.5625em 1.5625em;
}

main p {
  color: #bbbbbb;
}

/* MAIN INFO */
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
  margin: 10.625em 0;
}

.main-info span {
  font-size: 5em;
  line-height: 1.4;
}

.main-info p {
  font-size: 1.5em;
  line-height: 1.8;
  color: #bbbbbb;
}

@media (max-width: 50.4em) {
  .main-info span {
    font-size: 4em;
  }
  .main-info p {
    font-size: 1.2em;
  }
}

@media (max-width: 40.6em) {
  .main-info span {
    font-size: 3em;
  }
  .main-info p {
    font-size: 1em;
  }
  main {
    font-size: 0.875em;
  }
}

/*SKILLS */
.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25em;
}

.skills p {
  margin: 0;
  padding: 0.625em 1.25em;
  border: 0.0625em solid #a9a9a933;
  border-radius: 0.3125em;
  background-color: #72727233;
}

.skills-heading,
.projects-heading {
  margin-top: 4.375em;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
  margin-top: 3.125em;
}

.projects-div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  height: 12.5em;
  width: 25em;
  border: 0.0625em solid rgba(132, 132, 132, 0.5);
  border-radius: 1.5625em;
  background-color: rgba(61, 61, 61, 0.5);
  transition: all 0.3s ease-in-out;
}

.projects-div:hover {
  transform: scale(1.01);
  border-color: rgba(255, 255, 255, 0.5);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.125em;
  padding-top: 1.875em;
  color: #f2f2f2;
  font-family: monospace;
  border-top: 0.0625em solid #f2f2f2;
}

.footer-links img {
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.625em;
  padding: 0.3125em 0;
}

/* MOBILE RESPONSIVE*/
@media (max-width: 40em) {
  header {
    width: fit-content;
    padding: 0 1.25em;
  }
  nav ul {
    gap: 2em;
  }
  nav a {
    font-size: 1em;
  }
  .main-info {
    margin-bottom: 5em;
  }
  .main-info span {
    font-size: 2.5em;
  }
  .main-info p {
    font-size: 1em;
  }
  .skills {
    gap: 0.625em;
  }
  .projects-div {
    height: 12em;
    width: 22em;
  }
}

@media (max-width: 30em) {
  .main-info {
    margin-bottom: 5em;
  }
  .main-info span {
    font-size: 2em;
  }
  .main-info p {
    font-size: 0.8em;
  }
  .skills {
    gap: 0.625em;
  }
  .projects-div {
    height: 10em;
    width: 20em;
  }
}
